.chat {
  margin-top: 3rem;
  font-family: "Georgia", serif;
}


div.chat-content {
  border-radius: .25rem;
  height: 18rem;
  margin-bottom: 2rem;
}

div.menu {

  border-radius: .25rem;
  text-align: center;
}

.chat-list {
  border-radius: .25rem;
  border: 1px solid #ced4da;
  height: 11rem;
  width: auto;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  overflow-y: scroll;
}

.username{
  border-radius: .25rem;
  border: 1px solid #ced4da;
  height: auto;
  width: auto;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

li{
  list-style-type: none;
}

.card {
  height: 100%;
  overflow-y: scroll;
}

.btnn {
  background-color: #fff;
  color: black;
  transition: all .7s;
}
.btn {
  background-color: #fff;
  color: black;
  transition: all .7s;
}

.btnSend {
  background-color: #fff;
  color: black;
  transition: all .7s;
  border-color: #e75050;
}

.btn:hover {
  color: #fff;
  background-color: #e75050;
  border-color: #e75050;
}
.my-button {
  color: #fff;
  background-color: #e75050;
  border-color: #e75050;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
