.chat {
  margin-top: 3rem;
}


div.chat-content {
  border-radius: .25rem;
  height: 30rem;
  margin-bottom: 2rem;
}

div.menu {

  border-radius: .25rem;
  text-align: center;
}

.chat-list {
  border-radius: .25rem;
  border: 1px solid #ced4da;
  height: 23rem;
  width: auto;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  overflow-y: scroll;
}

.username{
  border-radius: .25rem;
  border: 1px solid #ced4da;
  height: auto;
  width: auto;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

li{
 list-style-type: none;
}

.card {
  height: 100%;
  overflow-y: scroll;
}

.btn {
  background-color: #fff;
  color: black;
  transition: all .7s;
}
.btn:hover {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.my-button {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

