<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="mx-4 navbar-brand" href="#">Chat app</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" ip="navbarsExample04">
      <ul class="navbar-nav mr-auto">
      </ul>
    </div>
  </nav>
</header>
<main class="chat">
  <div class="container">
    <div class="row">
      <div class="chat-content card col-8">
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let chatMessage of messageService.chatMessages">
            <!--<strong>{{chatMessage.user}}: </strong>
            <span>{{chatMessage.message}}</span>-->
            {{chatMessage}}
          </li>
        </ul>
      </div>
      <div class="menu col">
        <div class="row-cols-1">User name</div>
        <div class="row-cols-1 username">
            {{userConnection.user}}
          </div>
        <div class="row-cols-1" style="margin-top: 40px">chat-list</div>
        <div class="row-cols-1 chat-list" ip="window">
          <ul class="list-group">
          </ul>
        </div>
      </div>
    </div>
    <form (ngSubmit)="sendMessage(sendForm)" #sendForm="ngForm">
      <div class="chat-send row">
        <div class="col-9">
          <input type="text" class="form-control" name="message" ip="input-message" ngModel>
        </div>
        <div class="col-2">
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
      </div>
    </form>
  </div>

</main>
